.head{
    background-color: black;
}
.head p{
    color: white;
    margin: 14px 25px;
    font-size: 22px;
    cursor: pointer;
}
.head span,i{
    color: rgb(4, 169, 4);
}
.head button{
    margin: 10px 25px;
    background-color: rgb(4, 184, 4);
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.head button:hover{
    background-color: rgb(0, 155, 0);
}
ul li{
    padding: 0 10px;
    cursor: pointer;
}
.submenu{
    display: none;
    position: absolute;
    padding: 10px 0;
}
ul li:hover .submenu{
    display: block;
    background-color: white;
    color: black;
}
.search i{
    color: black;
    font-size: 20px;
}
.search span{
    font-size: 16px;
    padding: 0 10px;
}
.about{
    position: relative;
    top: -460px;
    left: 100px;
}
.about button{
    padding: 10px 20px;
    margin-top: 20px;
}
.about h2{
    font-size: 40px;
}
.imgs{
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -340px;
    left: 180px;
    background-color: white;
}
.text{
    position: relative;
    top: 130px;
    left: 20px;
}
.text h4{
    font-size: 20px;
}
.main{
    position: relative;
    text-align: center;
    top: -100px;
}
