*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.col-1{
    width: calc(100%/12);
}
.col-2{
    width: calc(100%/6);
}
.col-3{
    width: calc(100%/4);
}
.col-4{
    width: calc(100%/3);
}
.col-5{
    width: calc(100%/2.4);
}
.col-6{
    width: calc(100%/2);
}
.col-7{
    width: calc(100%/1.7142857143);
}
.col-8{
    width: calc(100%/1.5);
}
.col-9{
    width: calc(100%/1.3333333333);
}
.col-10{
    width: calc(100%/1.2);
}
.col-11{
    width: calc(100%/1.0909090909);
}
.col-12{
    width: calc(100%/1);
}
.umumi{
    width: 90%;
    justify-content: space-between;
    margin: 0 5%;
}
.code{
    height: 100%;
    background-color: white;
    border: 1px solid rgb(188, 186, 186);
    margin-right: 10px;
    margin-top: 10px;
}
.code .tarix{
    position: absolute;
    width: auto;
    padding: 12px;
    color: white;
    background-color: rgb(4, 96, 96);
    top: 1px;
    text-align: center;
}
.code .saat{
    position: absolute;
    width: auto;
    padding: 7px;
    color: white;
    background-color: gray;
    top: 52px;
    text-align: center;
}
.code .yazi{
    padding: 1rem;
}
.sekil{
    position: relative;
}
.code p{
    font-size: 25px;
    color: rgb(7, 7, 111);
    margin-left: 20px;
}
.img{
    width: 100%;
}
.icons{
    width: 90%;
    margin: 0 5%;
}
.las{
    font-size: 30px;
    justify-content: center;
}
.icon{
    height: 100%;
    background-color: rgb(192, 189, 189);
    margin-right: 10px;
}
button{
    padding: 4px 35px;
    background-color:  rgb(192, 189, 189);
    cursor: pointer;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid grey;
}
#bttn1{
    padding: 4px 45px;
}
#bttn2{
    padding: 4px 40px;
}
#bttn3{
    padding: 4px 28px;
}
#bttn4{
    padding: 4px 36px;
}
#bttn5{
    padding: 4px 43px;
}