* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    background-color: rgb(178, 178, 179);
    height: 60px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

#start {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
}

li {
    float: left;
    height: 60px;
    font-size: 20px;
    padding: 0 15px;
    line-height: 50px;
}

button {
    padding: 5px 15px;
    font-size: 15px;
}

.yazi {
    display: flex;
    justify-content: space-around;
    margin: 60px 100px;
}

#img1 {
    margin-right: 30px;
}

.bttn {
    margin-top: 160px;
}

#shop {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.son {
    background-color: rgba(228, 228, 233, 0.626);
    height: 400px;
}

#rel {
    font-size: 30px;
    margin-left: 180px;

}

.img2 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

.item1 {
    width: 20%;
    height: 160px;
    background-color: rgba(222, 217, 217, 0.826);
    border: 1px solid rgb(129, 127, 127);
    margin-top: 20px;
    text-align: center;
    font-size: xx-large;
}

.img3 {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
}

.item2 {
    width: 20%;
    height: 160px;
    background-color: white;
    border: 1px solid rgb(181, 177, 177);
    margin-top: 0;
    text-align: center;
    font-size: large;
}

li a i {
    font-size: 40px;
}

.menu2 {
    background-color: rgb(47, 47, 136);
    height: 100px;
    color: white;
    justify-content: center;
    text-align: center;
}